### use # to comment out the configure item
### I/O ###

train_dir=ptb-dep-train.single
dev_dir=ptb-dep-dev.single
test_dir=ptb-dep-dev.single

model_dir=dependency/1-task/mod
word_emb_dir=embeddings/English/sskip.100.vectors

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=False
word_emb_dim=100
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=True
word_seq_feature=LSTM
char_seq_feature=LSTM
feature=[POS] emb_size=25

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=8
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=800
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=0.02
lr_decay=0.05
momentum=0.9
l2=0
gpu=False
#clip=

###MTL setup###
index_of_main_tasks=0
tasks=1
tasks_weights=1
dependency_parsing=True
constituency_parsing=False
language=English

###PathsToAdditionalScripts###
cons2labels=cons2labels
evaluate=cons2labels/evaluate.py
evalb=cons2labels/EVALB/evalb
gold_dev_cons=sample_data/cp_datasets/PTB_pred_tags/dev.trees
gold_dev_dep=data/dependency/goldPTB/gold_with_postag_tokens/ptb_dev_pos_token.conll