### use # to comment out the configure item
### I/O ###

train_dir=first-fix-dur/train.seq
dev_dir=first-fix-dur/dev.seq
test_dir=first-fix-dur/dev.seq

model_dir=first-fix-dur/mod
word_emb_dir=embeddings/English/sskip.100.vectors

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=False
word_emb_dim=100
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=True
word_seq_feature=LSTM
char_seq_feature=LSTM
feature=[POS] emb_size=25

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=8
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=800
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=0.02
lr_decay=0.05
momentum=0.9
l2=0
gpu=False
optimize_with_las=True
combine_dependency_offset=True

#Treebank(s), main/auxiliary task(s)
dataset=[PTB] nb_tasks=2 main=True weight=1|1 metric=LAS
dataset=[DUNDEE] nb_tasks=1 main=False weight=0.1 

###PathsToAdditionalScripts###
gold_dev_dep=treebanks/PTB/dev.conll





