### use # to comment out the configure item

### I/O ###
train_gold=PTB/train.conll
dev_gold=PTB/dev.conll
train_enc_dep2label=myModel/encodedDataTrain.seq
dev_enc_dep2label=myModel/encodedDataDev.seq
model_dir=myModel/dep2label
word_emb_dir=embedding/sskip.100.vectors
encoding=3
eval_type=CONLL
postag_type=UPOS

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=False
word_emb_dim=100
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=True
word_seq_feature=LSTM
char_seq_feature=LSTM
feature=[POStag] emb_size=25

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=8
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=800
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=0.02
lr_decay=0.05
momentum=0.9
l2=0
gpu=True
#clip=