train_dir=train.seq
dev_dir=dev.seq
test_dir=dev.seq

model_dir=model/mod
word_emb_dir=english.vectors

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=False
word_emb_dim=100
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=True
word_seq_feature=LSTM
char_seq_feature=LSTM
feature=[POS] emb_size=25
use_features=True

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=8
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=800
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=0.02
lr_decay=0.05
momentum=0.9
l2=0
gpu=True
#clip=

###MTL setup###
index_of_main_tasks=0,1
tasks=2
tasks_weights=1|1
encoding=rel-pos

###PathsToAdditionalScripts###
gold_dev_dep=gold/dev.conllu
